.bg-video{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;
    display: flex;

    &__content{
        // height: 100%;
        // width: 100%;
        object-fit: cover; //This property define how the content will fill in container element relatively to width and height; 

    }
}